<h1><%= @blogger.name %></h1>
<hr>
<h2>Age: <%= @blogger.age %></h2>
<h4>Bio</h4>
<p><%= @blogger.bio %></p>

<p>Total Likes: <%= @blogger.total_likes %></p>


<p><%= link_to "back to bloggers", bloggers_path %></p>